# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# PyTorch/YOLOv8 specific
*.pt
*.pth
*.onnx
*.engine
*.wts
runs/
wandb/

# Project specific
backend/uploads/
dataset/images/train/*
dataset/images/val/*
dataset/labels/train/*
dataset/labels/val/*
!dataset/images/train/.gitkeep
!dataset/images/val/.gitkeep
!dataset/labels/train/.gitkeep
!dataset/labels/val/.gitkeep

# Environments
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo